# This is a namespace agnostic configuration file for the Franka FR3 robot.
# That is to say, it is not tied to any specific namespace and can be used in
# any namespace. 
# If you require namespace specific configurations, you can easily modify this
# file to include the namespace
# As an example, below you can find:

# Imagine, you have a specific need to have the lock try count in namespace "NAMESPACE_X"
# to be different than the default value of 5, but leave all the other namespaces as default.
# Add the following lines to the configuration file 
# (or use a different config file, but then you have to mody the launch script to reference that file)


/**:
  controller_manager:
    ros__parameters:
      update_rate: 1000
      thread_priority: 98

      franka_robot_state_broadcaster:
        type: franka_robot_state_broadcaster/FrankaRobotStateBroadcaster
        state_interfaces:
          robot_state

      joint_state_broadcaster:
        type: joint_state_broadcaster/JointStateBroadcaster

      ik_controller:
        type: cho_controller_franka/IKController

      gravity_compensation_controller:
        type: cho_controller_franka/GravityCompensationController

      joint_space_impedance_controller:
        type: cho_controller_franka/JointSpaceImpedanceController

      task_space_impedance_controller:
        type: cho_controller_franka/TaskSpaceImpedanceController

      operational_space_controller:
        type: cho_controller_franka/OperationalSpaceController

      gripper_controller:
        type: cho_controller_franka/GripperController

      joint_space_qp_controller:
        type: cho_controller_franka/JointSpaceQPController

      task_space_qp_controller:
        type: cho_controller_franka/TaskSpaceQPController

      vla_controller:
        type: cho_controller_franka/VLAController


/**:
  franka_robot_state_broadcaster:
    ros__parameters:
      lock_try_count: 5 # Number of attempts to acquire the lock in a single on_update()
      lock_sleep_interval: 5 # microseconds sleep between attempts
      lock_log_error: true #  Log error if lock acquisition fails - false == do not log  
      lock_update_success: false # return update OK, although lock fails (no update occurs)

/**:
  joint_state_broadcaster:
    ros__parameters:
      robot_type: "fr3"
      bringup_type: "real"
      joints:
        - fr3_joint1
        - fr3_joint2
        - fr3_joint3
        - fr3_joint4
        - fr3_joint5
        - fr3_joint6
        - fr3_joint7

/**:
  ik_controller:
    ros__parameters:
      robot_type: "fr3"
      bringup_type: "real"
      kp_task: [900.0, 900.0, 900.0, 900.0, 900.0, 900.0]
      kd_task: [60.0, 60.0, 60.0, 60.0, 60.0, 60.0]

/**:
  gravity_compensation_controller:
    ros__parameters:
      robot_type: "fr3"
      bringup_type: "real"
      mass: 0.73
      center_of_mass: [-0.1, 0.0, 0.03]
      load_inertia: [0.001, 0.0, 0.0,
                     0.0, 0.0025, 0.0,
                     0.0, 0.0, 0.0017]

/**:
  joint_space_impedance_controller:
    ros__parameters:
      robot_type: "fr3"
      bringup_type: "real"
      k_gains: [800.0, 800.0, 800.0, 800.0, 200.0, 200.0, 100.0]
      d_gains: [40.0, 40.0, 40.0, 40.0, 28.0, 28.0, 20.0]
      mass: 0.73
      center_of_mass: [-0.1, 0.0, 0.03]
      load_inertia: [0.001, 0.0, 0.0,
                     0.0, 0.0025, 0.0,
                     0.0, 0.0, 0.0017]

/**:
  task_space_impedance_controller:
    ros__parameters:
      robot_type: "fr3"
      bringup_type: "real"
      kp_task: [100.0, 100.0, 100.0, 30.0, 30.0, 30.0]
      kp_null: 10.0
      default_dof_pos: [-1.3003, -0.4015, 1.1791, -2.1493, 0.4001, 1.9425, 0.4754]
      mass: 0.73
      center_of_mass: [-0.1, 0.0, 0.03]
      load_inertia: [0.001, 0.0, 0.0,
                     0.0, 0.0025, 0.0,
                     0.0, 0.0, 0.0017]

/**:
  operational_space_controller:
    ros__parameters:
      robot_type: "fr3"
      bringup_type: "real"
      kp_task: [900.0, 900.0, 900.0, 3600.0, 3600.0, 3600.0]
      kd_task: [60.0, 60.0, 60.0, 24.0, 24.0, 120.0]
      kn_stiffness: 10.0
      kn_damping: 2.0
      mass: 0.73
      center_of_mass: [-0.1, 0.0, 0.03]
      load_inertia: [0.001, 0.0, 0.0,
                     0.0, 0.0025, 0.0,
                     0.0, 0.0, 0.0017]

/**:
  gripper_controller:
    ros__parameters:
      robot_type: "fr3"
      bringup_type: "real"

/**:
  joint_space_qp_controller:
    ros__parameters:
      robot_type: "fr3"
      bringup_type: "real"
      kp_joint: [200.0, 200.0, 200.0, 200.0, 200.0, 200.0, 200.0]
      mass: 0.73
      center_of_mass: [-0.1, 0.0, 0.03]
      load_inertia: [0.001, 0.0, 0.0,
                     0.0, 0.0025, 0.0,
                     0.0, 0.0, 0.0017]

/**:
  task_space_qp_controller:
    ros__parameters:
      robot_type: "fr3"
      bringup_type: "real"
      kp_task: [100.0, 100.0, 100.0, 800.0, 800.0, 800.0]
      mass: 0.73
      center_of_mass: [-0.1, 0.0, 0.03]
      load_inertia: [0.001, 0.0, 0.0,
                     0.0, 0.0025, 0.0,
                     0.0, 0.0, 0.0017]

/**:
  vla_controller:
    ros__parameters:
      robot_type: "fr3"
      bringup_type: "real"
      control_mode: "effort"
      kp_task: [900.0, 900.0, 900.0, 900.0, 900.0, 900.0]
      kd_task: [60.0, 60.0, 60.0, 60.0, 60.0, 60.0]
      kn_stiffness: 10.0
      kn_damping: 2.0
      mass: 0.73
      center_of_mass: [-0.1, 0.0, 0.03]
      load_inertia: [0.001, 0.0, 0.0,
                     0.0, 0.0025, 0.0,
                     0.0, 0.0, 0.0017]