<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="franka_robot"
              params="robot_type
                      joint_limits
                      kinematics
                      accelerometer_config:=none
                      inertials
                      dynamics
                      parent:='world'
                      xyz:='0 0 0'
                      rpy:='0 0 0'
                      xyz_ee:='0 0 0'
                      rpy_ee:='0 0 0'
                      tcp_xyz:='0 0 0'
                      tcp_rpy:='0 0 0'
                      safety_distance:='0.03'
                      hand:='true'
                      ee_id:=none
                      special_connection:=''
                      gazebo:='false'
                      with_sc:='false'
                      ros2_control:=false
                      robot_ip:=''
                      use_fake_hardware:=false
                      fake_sensor_commands:=false
                      gazebo_effort:=false
                      no_prefix:='false'
                      arm_prefix:=''
                      description_pkg:='cho_description_franka'
                      connected_to:='base'
                      runtime_param_file:=''">
                      
    <xacro:include filename="$(find cho_description_franka)/robots/common/utils.xacro" />

    <xacro:include filename="$(find cho_description_franka)/robots/common/franka_arm.xacro" />

    <xacro:franka_arm
      robot_type="${robot_type}"
      arm_prefix="${arm_prefix}"
      no_prefix="${no_prefix}"
      xyz="${xyz}"
      rpy="${rpy}"
      safety_distance="0.03"
      gazebo="${gazebo}"
      joint_limits="${joint_limits}"
      kinematics="${kinematics}"
      accelerometer_config="${accelerometer_config}"
      inertials="${inertials}"
      dynamics="${dynamics}"
      with_sc="${with_sc}"
      connected_to="${connected_to}"
    />

    <!-- Bota SensONE Force-Torque Sensor -->
    <xacro:unless value="${special_connection == ''}">
      <!-- Mounting part bolted to the arm flange (link8) -->
      <joint name="robot_mounting_link_to_bota_ft_sensor" type="fixed">
        <parent link="${arm_prefix}${robot_type}_link8"/>
        <child link="bota_ft_sensor_mounting"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
      </joint>
      <link name="bota_ft_sensor_mounting">
        <inertial>
          <origin rpy="0 0 0" xyz="-0.00011559 0.00060052 0.010067"/>
          <mass value="0.15393"/>
          <inertia ixx="4.907E-05" ixy="3.2541E-08" ixz="-1.0415E-07" iyy="5.5735E-05" iyz="1.3709E-07" izz="9.0228E-05"/>
        </inertial>
        <visual>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <mesh filename="package://cho_description_franka/meshes/accessories/ft_sensor/mounting.stl"/>
          </geometry>
          <material name="bota_ft_material">
            <color rgba="0.6902 0.61176 0.52941 1"/>
          </material>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0 0 0.011"/>
          <geometry><cylinder length="0.028" radius="0.035"/></geometry>
        </collision>
        <collision>
          <origin rpy="1.57 0 0" xyz="0 0.051 0.0115"/>
          <geometry><cylinder length="0.032" radius="0.0065"/></geometry>
        </collision>
        <collision>
          <origin rpy="0 0 0" xyz="0 0 0.03"/>
          <geometry><cylinder length="0.01" radius="0.0315"/></geometry>
        </collision>
      </link>

      <!-- Wrench (force/torque measurement) frame, 35 mm above the mounting base -->
      <joint name="bota_ft_sensor_mounting_to_wrench" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0.035"/>
        <parent link="bota_ft_sensor_mounting"/>
        <child link="bota_ft_sensor_wrench"/>
      </joint>
      <link name="bota_ft_sensor_wrench">
        <inertial>
          <origin rpy="0 0 0" xyz="-0.00018335 -3.3341E-07 -0.0070612"/>
          <mass value="0.08253"/>
          <inertia ixx="2.2674E-05" ixy="-3.9222E-12" ixz="4.8952E-08" iyy="2.2294E-05" iyz="4.0972E-11" izz="4.0919E-05"/>
        </inertial>
      </link>

      <!-- Internal mechanical reference frames -->
      <joint name="bota_ft_sensor_mounting_to_mech1" type="fixed">
        <origin rpy="1.5625 0 -1.5708" xyz="-0.032879 0 0.0105"/>
        <parent link="bota_ft_sensor_mounting"/>
        <child link="bota_ft_sensor_mech1"/>
      </joint>
      <link name="bota_ft_sensor_mech1"/>
      <joint name="bota_ft_sensor_mounting_to_mech2" type="fixed">
        <origin rpy="1.5708 0 0" xyz="0 -0.032879 0.0105"/>
        <parent link="bota_ft_sensor_mounting"/>
        <child link="bota_ft_sensor_mech2"/>
      </joint>
      <link name="bota_ft_sensor_mech2"/>
      <joint name="bota_ft_sensor_mounting_to_mech3" type="fixed">
        <origin rpy="1.5708 0 1.5708" xyz="0.032879 0 0.0105"/>
        <parent link="bota_ft_sensor_mounting"/>
        <child link="bota_ft_sensor_mech3"/>
      </joint>
      <link name="bota_ft_sensor_mech3"/>
    </xacro:unless>

    <xacro:if value="${hand and ee_id == 'franka_hand'}">
      <xacro:include filename="$(find cho_description_franka)/end_effectors/common/franka_hand.xacro"/>
      <xacro:include filename="$(find cho_description_franka)/end_effectors/common/utils.xacro" />
      <xacro:if value="${robot_type == 'fp3'}">
        <xacro:property name="ee_color" value="black" />
      </xacro:if>
      <xacro:if value="${robot_type == 'fr3' or robot_type == 'fer' or robot_type == 'fr3v2' or robot_type == 'fr3v2_1'}">
        <xacro:property name="ee_color" value="white" />
      </xacro:if>
      <xacro:property name="connection" value="${'bota_ft_sensor_wrench' if special_connection != '' else robot_type + '_link8'}" />
      <xacro:franka_hand
        connected_to="${arm_prefix}${connection}"
        robot_type="${robot_type}"
        arm_prefix="${arm_prefix}"
        ee_id="${ee_id}_${ee_color}"
        ee_inertials="${xacro.load_yaml('$(find cho_description_franka)/end_effectors/' + ee_id + '/inertials.yaml')}"
        rpy_ee="${rpy_ee}"
        xyz_ee="${xyz_ee}"
        tcp_xyz="${tcp_xyz}"
        tcp_rpy="${tcp_rpy}"
        safety_distance="${safety_distance}"
        gazebo="${gazebo}"
        description_pkg="${description_pkg}"
        with_sc="${with_sc}"
      />
    </xacro:if>

    <xacro:if value="${hand and ee_id != 'none' and ee_id != 'franka_hand'}">
      <xacro:include filename="$(find cho_description_franka)/end_effectors/common/ee_with_one_link.xacro"/>
      <xacro:include filename="$(find cho_description_franka)/end_effectors/common/utils.xacro" />
      <xacro:property name="connection" value="${'bota_ft_sensor_wrench' if special_connection != '' else robot_type + '_link8'}" />
      <xacro:ee_with_one_link
        connected_to="${arm_prefix}${connection}"
        robot_type="${robot_type}"
        arm_prefix="${arm_prefix}"
        ee_id="${ee_id}"
        ee_inertials="${xacro.load_yaml('$(find cho_description_franka)/end_effectors/' + ee_id + '/inertials.yaml')}"
        rpy_ee="${rpy_ee}"
        xyz_ee="${xyz_ee}"
        tcp_xyz="${tcp_xyz}"
        tcp_rpy="${tcp_rpy}"
        safety_distance="${safety_distance}"
        gazebo="${gazebo}"
        description_pkg="${description_pkg}"
        with_sc="${with_sc}"
      />
    </xacro:if>

    <!-- Definition of additional Gazebo tags -->
    <xacro:if value="${gazebo}">

      <xacro:if value="${parent != ''}">
        <!-- Gazebo requires a joint to a link called "world" for statically mounted robots -->
        <xacro:if value="${parent == 'world'}">
          <link name="${parent}" />
        </xacro:if>
        <joint name="${parent}_joint" type="fixed">
          <origin xyz="${xyz}" rpy="${rpy}" />
          <parent link="${parent}" />
          <child  link="${arm_prefix}${robot_type}_link0" />
        </joint>
      </xacro:if>

      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint1" transmission="hardware_interface/PositionJointInterface" />
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint2" transmission="hardware_interface/PositionJointInterface" />
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint3" transmission="hardware_interface/PositionJointInterface" />
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint4" transmission="hardware_interface/PositionJointInterface" />
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint5" transmission="hardware_interface/PositionJointInterface" />
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint6" transmission="hardware_interface/PositionJointInterface" />
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint7" transmission="hardware_interface/PositionJointInterface" />

      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint1" transmission="hardware_interface/VelocityJointInterface" />
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint2" transmission="hardware_interface/VelocityJointInterface" />
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint3" transmission="hardware_interface/VelocityJointInterface" />
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint4" transmission="hardware_interface/VelocityJointInterface" />
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint5" transmission="hardware_interface/VelocityJointInterface" />
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint6" transmission="hardware_interface/VelocityJointInterface" />
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint7" transmission="hardware_interface/VelocityJointInterface" />

      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint1" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint2" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint3" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint4" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint5" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint6" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_joint7" transmission="hardware_interface/EffortJointInterface" />

      <xacro:transmission-franka-state robot_type="${robot_type}" />
      <xacro:transmission-franka-model robot_type="${robot_type}"
         root="${arm_prefix}${robot_type}_joint1"
         tip="${arm_prefix}${robot_type}_joint8"
       />

      <xacro:if value="${ee_id == 'franka_hand'}">
        <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_finger_joint1" transmission="hardware_interface/EffortJointInterface" />
        <xacro:gazebo-joint joint="${arm_prefix}${robot_type}_finger_joint2" transmission="hardware_interface/EffortJointInterface" />
        <!-- Friction specific material for Rubber/Rubber contact -->
        <xacro:gazebo-friction link="${arm_prefix}${robot_type}_leftfinger" mu="1.13" />
        <xacro:gazebo-friction link="${arm_prefix}${robot_type}_rightfinger" mu="1.13" />
      </xacro:if>
    </xacro:if>

    <xacro:if value="${ros2_control}">
      <xacro:include filename="$(find cho_description_franka)/robots/common/franka_arm.ros2_control.xacro"/>
      <xacro:franka_arm_ros2_control
          robot_type="${robot_type}"
          robot_ip="${robot_ip}"
          use_fake_hardware="${use_fake_hardware}"
          fake_sensor_commands="${fake_sensor_commands}"
          gazebo="${gazebo}"
          hand="${hand}"
          gazebo_effort="${gazebo_effort}"
          arm_prefix="${arm_prefix}"
          runtime_param_file="${runtime_param_file}"
      />
    </xacro:if>

  </xacro:macro>
</robot>
